// Header section
.about-us-container {
    background-color: $primary-white;
    width: 100%;
    height: 100%;
    padding: 3vh 0;

    .about-us {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 2rem;
        width: 100%;
        height: 100%;

        h2 {
            font-size: 3rem;
            color: $primary-black;
            margin-bottom: 4rem;
            text-align: center;
            width: 100%;
            font-weight: bold;
            text-transform: uppercase;
            font-family: $title-font;
            text-shadow: 1px 1px 3px $primary-grey;

        }

        article {
            margin-bottom: 3rem;
            width: 45vw;
            text-align: center;
            border-radius: 8px;
            overflow: hidden;
            background: rgb(59, 57, 99);
            background: radial-gradient(circle, rgba(59, 57, 99, 0.6264706566220238) 0%, rgba(24, 24, 41, 0.5480392840730042) 35%, rgba(8, 85, 101, 1) 100%);
            box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease-out;
            padding: 2vh 4vw;
            box-sizing: border-box;
            min-height: 130vh;

            &:hover {
                opacity: 0.8;
                transform: scale(1.05);
                box-shadow: 10px 6px 0px 0px rgba(0, 0, 0, 0.5);
            }

            h3 {
                color: $primary-white;
                text-transform: uppercase;
                font-size: 2.5rem;
                margin-bottom: 2rem;
                font-weight: 500;
                font-family: $name-font;
                text-shadow: 2px 2px 3px $primary-black;
            }

            figure {
                margin-bottom: 2rem;
                height: 70vh;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10%;
                box-shadow: 10px 6px 0px 0px rgba(0, 0, 0, 0.5);
            }

            .card-list {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    color: $primary-white;
                    font-size: 1.5rem;
                    margin-bottom: 1.3rem;
                    text-align: left;

                    span {
                        font-weight: bold;
                        text-shadow: 2px 2px 3px $primary-black;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            & {
                display: grid;
            }

            & article {
                min-width: 90vw;
                justify-self: center;
            }
        }
    } // Sponsor section
    .section-friends {
        margin: 3rem;

        h2 {
            font-size: 3rem;
            color: $primary-black;
            margin-bottom: 1rem;
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-family: $title-font;
            text-transform: uppercase;
            text-shadow: 1px 1px 3px $primary-grey;
        }

        p {
            color: $primary-black;
            font-size: 1.4rem;
            margin-bottom: 20px;
            text-align: center;
            text-shadow: 1px 1px 1px $primary-grey;
        }

        .friends-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 10px;

                figure {
                    width: 200px;
                    height: 200px;
                    overflow: hidden;
                    border-radius: 30%;
                    transition: all 0.2s ease-out;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &:hover {
                        opacity: 0.8;
                        transform: scale(1.05);
                        box-shadow: 10px 6px 0px 0px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
}
