//Header de la page
#homepage-header {
    background: rgb(238, 35, 7);
    background: linear-gradient(180deg, rgba(238, 35, 7, 0.7021009087228641) 1%, rgba(238, 99, 99, 0.8365546902354692) 16%, rgba(235, 224, 224, 0.7665266790309874) 60%);
    padding: 1rem;
    text-align: center;
    color: $primary-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: $title-font;
    transition: all 0.5s ease-in-out;


    &:hover {
        transform: translateY(-2px);
    }

    figure {
        padding-top: 3rem;
        max-width: 100px;
        max-height: 100px;
        transform: translateX(400%);
        transition: transform 0.4s ease;

        &>img {
            width: 100%;
        }
    }
    .show {
        transform: translateX(0);
    }

    h3 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        animation: moveInTop 1s ease-out;
        padding-bottom: 1rem;
        text-shadow: 1px 1px 2px $primary-white;
    }

    h4 {
        margin: 0;
        font-size: 2.2rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        animation: moveInTop 1s ease-out;
        padding-bottom: 1rem;
        text-shadow: 1px 1px 2px $primary-white;
    }

    q {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        animation: moveInBottom 1s ease-out;
        padding-bottom: 8rem;
        color: $primary-black;
        font-family: $base-font;
    }

    p {
        margin: 0;
        font-size: 1.9rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        animation: moveInBottom 1s ease-out;
        padding-bottom: 6rem;
        font-family: $base-font;
    }


}

//Contenu principal de la page
#homepage-main {
    font-family: $title-font;
    text-align: center;
    padding: 4rem;
    transition: all 0.5s ease-in-out;
    height: 100%;
    background: rgb(235, 224, 224);
    background: linear-gradient(180deg, rgba(235, 224, 224, 1) 1%, rgba(69, 215, 255, 0.6348740179665616) 47%, rgba(235, 224, 224, 1) 91%, rgba(226, 114, 97, 0.6544818611038166) 98%);
    &:hover {
        transform: scale(1.02);
    }

    h3 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-black;
        letter-spacing: 0.1em;
        animation: moveInTop 1s ease-out;
        padding-bottom: 3vh;
        text-shadow: 2px 2px 3px $primary-grey;
    }

    p {
        font-size: 1.4rem;
        margin: 0 0 2rem;
        animation: moveInBottom 1s ease-out;
        font-weight: 400;
    }

    button {
        background-color: #7289da;
        color: $primary-white;
        border: 1px solid white;
        border-radius: 0.25rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        letter-spacing: 0.05em;
        animation: moveInBottom 1s ease-out;
        transform: translateX(-400%);
        transition: transform 0.4s ease;

        &:hover {
            transform: translateY(-2px);
            transform: scale(1.1);
        }

        & span {
            padding-right: 1rem;
        }
    }

    .show {
        transform: translateX(0);
    }

    & a {
        color: $primary-white;
    }

    &:hover {
        transform: translateY(-2px);
    }
} //Media queries pour la mise en page responsive
@media (min-width: 768px) {
    #homepage-header {
        h3 {
            font-size: 3rem;
        }

        p {
            font-size: 1.8rem;
        }

        figure {
            max-width: 500px;
            max-height: 500px;

            &>img {
                width: 100%;
            }
        }
    }


    #homepage-main {
        h3 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.5rem;
        }

        button {
            font-size: 1.5rem;
            padding: 1.2rem 4rem;
        }
    }

}
