//Header de la page
#homepage-header {
    background: no-repeat url('https://thumbs.gfycat.com/BetterEnchantingCrane-size_restricted.gif');
    background-position: center center;
    background-size: cover;
    padding: 1rem;
    text-align: center;
    color: $primary-yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    font-family: $title-font;
    transition: all 0.5s ease-in-out;


    &:hover {
        transform: translateY(-2px);
    }

    figure {
        padding: 2.36rem 0;
        max-width: 150px;
        max-height: 150px;
        transform: translateX(400%);
        transition: transform 0.4s ease;

        &>img {
            width: 100%;
        }
    }
    .show {
        transform: translateX(0);
    }

    h3 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        animation: moveInTop 1s ease-out;
        padding-bottom: 1rem;
        text-shadow: 2px 2px 2px $primary-red;
    }

    h4 {
        margin: 0;
        font-size: 2.2rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        animation: moveInTop 1s ease-out;
        padding-bottom: 1rem;
        text-shadow: 2px 2px 2px $primary-red;
    }

    q {
        margin: 0;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        animation: moveInBottom 1s ease-out;
        padding-bottom: 8rem;
        color: $primary-white;
        font-family: $base-font;
    }

    p {
        margin: 0;
        font-size: 1.9rem;
        font-weight: bold;
        letter-spacing: 0.05em;
        animation: moveInBottom 1s ease-out;
        padding-bottom: 6rem;
        font-family: $base-font;
    }


}

//Contenu principal de la page
#homepage-main {
    font-family: $title-font;
    text-align: center;
    padding: 8rem;
    transition: all 0.5s ease-in-out;
    height: 100%;
    background: rgb(235, 224, 224);
    &:hover {
        transform: scale(1.02);
    }

    h3 {
        margin-top: 0;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $primary-black;
        letter-spacing: 0.1em;
        animation: moveInTop 1s ease-out;
        padding-bottom: 3vh;
        text-shadow: 2px 2px 3px $primary-grey;
    }

    p {
        font-size: 1.4rem;
        margin: 0 0 2rem;
        animation: moveInBottom 1s ease-out;
        font-weight: 400;
    }

    button {
        background-color: #7289da;
        color: $primary-white;
        border: 1px solid white;
        border-radius: 0.25rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        letter-spacing: 0.05em;
        animation: moveInBottom 1s ease-out;
        transform: translateX(-400%);
        transition: transform 0.4s ease;
        text-shadow: 2px 2px 3px $primary-black;

        &:hover {
            transform: translateY(-2px);
            transform: scale(1.1);
            box-shadow: 10px 6px 0px 0px rgba(0, 0, 0, 0.5);
        }

        & span {
            padding-right: 1rem;
        }
    }

    .show {
        transform: translateX(0);
    }

    & a {
        color: $primary-white;
    }

    &:hover {
        transform: translateY(-2px);
    }
} //Media queries pour la mise en page responsive
@media (min-width: 768px) {
    #homepage-header {
        h3 {
            font-size: 3rem;
        }

        p {
            font-size: 1.8rem;
        }

        figure {
            max-width: 500px;
            max-height: 500px;

            &>img {
                width: 100%;
            }
        }
    }


    #homepage-main {
        h3 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.5rem;
        }

        button {
            font-size: 1.5rem;
            padding: 1.2rem 4rem;
        }
    }

}
