// Styles pour la section tournament-display
.tournament-display {
    background-color: $primary-white;
    opacity: 80%;
    padding: 3rem;
    text-align: center;
    min-height: 80vh;

    &>section {
        padding-bottom: 5vh;
    }

    h2 {
        font-size: 3rem;
        margin: 2rem 0;
        text-transform: uppercase;
        font-weight: bold;
        color: $primary-black;
        font-family: $title-font;
        text-shadow: 2px 2px 3px $primary-grey;
    }

    p {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    a {
        display: inline-block;
        padding: 1.2rem;
        border-radius: 20px;
        background-color: $primary-white;
        color: $primary-black;
        font-size: 24px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        margin-bottom: 3vh;
        text-shadow: 2px 2px 3px $primary-grey;
        box-shadow: 2px 2px 3px $primary-grey;
        &:hover {
            background-color: $primary-red;
        }
    }
}

#tournament-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;

    &>section {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        background: rgb(59, 57, 99);
        background: radial-gradient(circle, rgba(59, 57, 99, 0.6264706566220238) 0%, rgba(24, 24, 41, 0.5480392840730042) 35%, rgba(8, 85, 101, 1) 100%);
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease-out;
        padding: 5vh 5vw;
        box-sizing: border-box;
        min-width: 80vw;

        &:hover {
            opacity: 0.8;
            transform: scale(1.05);
            box-shadow: 10px 6px 0px 0px rgba(0, 0, 0, 0.5);
        }

        & h3 {
            font-size: 2rem;
            margin-bottom: 2rem;
            padding-top: 1rem;
            text-transform: uppercase;
            font-weight: 600;
            color: $primary-white;
            font-family: $title-font;
            text-shadow: 2px 2px 3px $primary-black;

        }

        & p {
            color: $primary-white;
            text-shadow: 2px 2px 3px $primary-black;
            text-transform: uppercase;
        }

        @media (min-width: 768px) {
            & {
                min-width: 55vw;
                padding: 3vh 2vw;
            }
        }
    }
}
