//Colors
$primary-black: #0e1111;
$primary-yellow: #fbb304;
$primary-white: #eeebe8;
$primary-red: #d01f18;
$primary-grey: #91848c;

//Police
$base-font:'Montserrat',
sans-serif;
$name-font:'Darumadrop One',
cursive;
$header-font:'Russo One',
sans-serif;
$title-font: 'Braah One',
sans-serif;

// Breakpoints:
$breakpoint-medium: 768px;
